﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>ui-ace poc</title>
    <link rel="stylesheet" href="foundation.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <script type="text/javascript" src="Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="Scripts/angular.js"></script>
    <script type="text/javascript" src="Scripts/ace.js"></script>
    <script type="text/javascript" src="Scripts/ui-ace.js"></script>
    <script type="text/javascript" src="Scripts/lucene-query-parser.js"></script>
    <script type="text/javascript" src="app/App.js"></script>
    <script type="text/javascript" src="app/MainCtrl.js"></script>
</head>
<body ng-controller="MainCtrl as vm">
    <form name="myForm" novalidate="novalidate">
        <div class="row">
            <div class="large-12 columns">
                <label for="queryEditor">Query</label>
                <div id="wrapper">
                    <div name="queryEditor" ng-model="vm.initValue" ui-ace="{
                    useWrapMode : true,
                    showGutter: false,
                    theme:'terminal',
                    mode: 'lucene',
                    onLoad : vm.aceLoaded,
                    rendererOptions: { fontSize:30, maxLines: 90 },
                    advanced: { tabSize: 0 }
                }" ng-required="true">
                    </div>
                </div>
            </div>
        </div> 
        <br>   
        <div class="row">
            <div class="large-12 columns">
                <input type="submit" class="button tiny" ng-click="vm.exeGo()" value="Go!" />
            </div>
        </div>    
    </form>
</body>
</html>
