﻿#query-input {
    padding: 1px;
}

.ace_content {
    border: none !important;
    color: rgba(0, 0, 0, 0.75);
}

#wrapper {
    border: 1px solid grey;
    -webkit-appearance: textfield;
    box-shadow: 1px 1px 1px 0 lightgray inset;
}

.invalid { /* this is first point */
	border: 1px solid red !important;
}

/*form.ng-submitted div.ng-invalid-required {
    border-color: #c60f13;
    background-color: rgba(198, 15, 19, 0.1);
}*/